// .modal-background {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     background: rgba(0, 0, 0, 0.6);
//     z-index: 100;
// }

// .cart-sidebar-parent {
//     position: relative;
//     height: 100%;
//     top: 0;
//     right: 0;
// }

#cart-sidebar-container {
    position: absolute;
    top: 0;
    right: -600px;
    // right: 0;

    z-index: 1001;

    height: 100vh;
    width: 600px;

    background-color: $theme-light;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;

    transition: 0.4s;
}

#cart-sidebar-container.active {
    right: 0;
}

.sidebar-close-header {
    height: 78px;
    width: 100%;

    display: flex;

    .close-sidebar-button {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 80px;

        height: 80px;
        width: 78px;
        padding: 2px;

        border-bottom: 2px solid $theme-border;

        background-color: $theme;
        color: white;
    }

    .close-sidebar-button:hover {
        background-color: rgb(98, 153, 171);
    }
}

.cart-sidebar-info-container {
    flex: 1;
    height: 100%;

    background-color: $theme;
    border-bottom: 2px solid $theme-border;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 36px;
    }
}

.cart-item-header {
    display: flex;
    height: 80px;

    font-size: 35px;
    color: $theme;

    .cart-item-name-header {
        width: 50%;
        display: flex;

        box-sizing: border-box;
        padding-left: 20px;
        align-items: center;
    }

    .cart-item-price-header {
        width: 25%;
        display: flex;

        justify-content: center;
        align-items: center;
    }

    .cart-item-qty-header {
        width: 25%;
        display: flex;

        justify-content: center;
        align-items: center;

        padding-right: 10px;
    }
}

.cart-item-pet-info {
    display: flex;
    height: 40px;

    font-size: 28px;

    .cart-item-pet-name-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;

        box-sizing: border-box;
        padding-left: 10px;
    }

    .cart-item-pet-price-container {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 50px;
    }

    .cart-item-pet-qty-container {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.pet-qty-content {

    display: flex;

    p {
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    span {
        margin-left: 20px;
        font-size: 40px;

        color: $charcoal;
        cursor: pointer;
    }

    span:hover {
        color: $theme-redish-hover;
    }
}

.price-checkout-container {
    position: absolute;

    bottom: 0;
    left: 0;
}

.cart-total-price-container {
    display: flex;
    color: $theme;
    width: 600px;
    height: 50px;

    .price-header {
        display: flex;
        align-items: center;
        padding-left: 20px;

        height: 100%;
        width: 75%;
    }

    .total-price {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 25%;

        padding-right: 20px;
    }
}

.remove-pet-item-container {
    width: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.remove-pet-item-button {
    width: 60%;
    height: 60%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $theme-redish;
    border-radius: 6px;
    border: 3px solid $brown;

    cursor: pointer;

    font-size: 34px;
}

.remove-pet-item-button:hover {
    background-color: $theme-redish-hover;
}