.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.cart-sidebar-parent {
    position: relative;
    height: 100%;
    top: 0;
    right: 0;
}

#cart-sidebar-container {
    position: absolute;
    top: 0;
    right: -400px;
    z-index: 1001;

    height: 100vh;
    width: 400px;

    background-color: $theme-light;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;

    transition: 0.4s;
}

#cart-sidebar-container.active {
    right: 0;
}

.sidebar-close-header {
    height: 78px;

    .close-sidebar-button {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 80px;

        height: 100%;
        width: 78px;
        padding: 2px;

        box-sizing: border-box;

        background-color: $theme;
        color: white;
    }

    .close-sidebar-button:hover {
        background-color: lightblue;
    }
}