@import './reset.scss';
@import './variables.scss';

@import './splash.scss';
@import './nav.scss';
@import './session_form.scss';


@import './cart_sidebar.scss';
@import './session_form.scss';
@import './pet_index.scss';
@import './pet_show.scss';

.app-content {
    padding-top: 80px;
}
