.nav-container {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 10px;

    position: fixed;
    top: 0;
    left: 0;

    background-color: $theme;
    color: white;

    font-size: 30px;
    font-family: 'Cabin Sketch', cursive;

    a {
        color: white;
    }
}

.logout-button {
    color: white;
    font-family: 'Cabin Sketch', cursive;

    background-color: $theme;
    outline: none;
    border: none;

    font-size: inherit;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding: 10px;
}

.title-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    h1 {
        font-size: 38px;
    }
}

.auth-links {
    width: 250px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* CART SIDEBAR */



