.nav-container {
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
    padding: 10px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: $theme-opacity;
    color: white;

    font-size: 30px;
    font-family: $main-font-family;

    border-bottom: 2px solid $theme-border;

    a {
        color: white;
    }
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding: 10px;
}

.title-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    h1 {
        font-size: 50px;
    }
}

.auth-links {
    width: 250px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        color: white;
        font-family: 'Cabin Sketch', cursive;
    
        background-color: transparent;
        outline: none;
        border: none;
    
        font-size: inherit;

        transition: 0.2s;
    }

    button:hover {
        transform: scale(1.1);
    }
}

.unauth-links {

    a {
        display: block;
        transition: 0.2s;
    }

    a:hover {
        transform: scale(1.1);
    }
}

.about-container {

    a {
        display: block;
        transition: 0.2s;
    }

    a:hover {
        transform: scale(1.1);
    }
}

/* CART SIDEBAR */



