.pets-index-container {
    padding-top: 80px;

    width: 100%;
    box-sizing: border-box;

    background-color: $theme-light;
}

.pets-index-content {
    display: flex;
    justify-content: center;
    padding: 30px 200px;

    @media screen and (max-width: 1440px) {
        padding: 30px 100px;
    }
}

.pets-index-content > h1 {
    font-size: $title-font-size;
    font-family: $main-font-family;
}

.pets-index-content > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-column-gap: 30px;
    // grid-row-gap: 30px;
     
    @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(2, 1fr); 
    }

    @media screen and (max-width: 860px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.pets-index-content > ul > li {
    background-color: $theme;
    margin: 30px;

    box-sizing: border-box;
    border: 3px solid $theme-border;
    padding: 20px;
}

.pet-index-item {
    border-radius: 24px;
    transition: 0.2s;
}

.pet-index-item:hover {
    transform: scale(1.1);
}

.pet-index-item-link { 
    color: $main-color;
    font-family: $main-font-family;
    font-size: 18px;
}

.pet-index-item-info {
    margin-top: 15px;
}

.pet-index-item-info > p {
    padding: 10px 0;
    width: 95%;
    display: block;
    margin: auto;
}

.pet-index-item-img {
    display: block;
    margin: auto;
    width: 95%;
    height: calc(width);
    align-items: center;
    border-radius: 12px;

    min-width: 200px;
}
