.pet-show-container {
    background-color: $light-green;
    padding-bottom: 20px;
    min-height: 90vh;
}

.pet-show-content {
    display: flex;
    flex-direction: row;
    padding-top: 35px;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

.pet-show-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    @media screen and (max-width: 1000px) {
        justify-content: center;
        width: 100%;
    }
}

.pet-show-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.pet-show-artist-credit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pet-show-artist-inner, 
.pet-show-artist-inner > span > a {
    width: 90%;
    font-size: 1.25rem;
    line-height: 1.2rem;
    font-family: $main-font-family;
    color: $main-color;
}

.pet-show-image {
    display: block;
    width: 90%;
    min-width: 200px;
    border-radius: 15px;
    border: 2px dashed white;
}

// need help to center text when screen is smaller
.pet-show-content-right {
    width: 40%;

    @media screen and (max-width: 1000px) {
        width: 100%;
        
    }
}

.pet-show-details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// need help to center text when screen is smaller
.pet-show-title > h1 {
    color: $main-color;
    font-family: $main-font-family;
    font-size: $title-font-size;
    padding-bottom: 15px;

    @media screen and (max-width: 1000px) {
        width: 90%;
    }
}

// need help to center text when screen is smaller
.pet-show-details {
    color: $main-color;
    font-family: $main-font-family;
    font-size: 20px;
    padding-bottom: 5px;

    @media screen and (max-width: 1000px) {
        width: 90%;
    }
}

.pet-show-details > p:first-child {
    text-transform: capitalize;
}

.add-pet-review-form {
    display: flex;
    flex-direction: column;
}