.pet-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pet-reviews-create {
    width: 90%;
}

.add-pet-review-form {
    display: flex;
    flex-direction: column;
    align-items: normal;
}


