.splash-page-container {
    width: 100%;
    height: 100vh;

    background-image: url("https://dina-dopt-seed.s3.amazonaws.com/dinos-biker-stephen-leonardi.jpg");
    background-size: cover;

    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
}