$white: #F5F5F1;
$light-green: #889E6B;
$teal-green: #79A385;
$theme: #354240;
$theme-border: #BC8C51;
$theme-light: #93978C;
$theme-redish: #ba7263;
$theme-redish-hover: #97655B;
$theme-hover: #2b3636;
$brown: #825E4C;
$brown-hover: #5a4032;
$charcoal: #2D3533;
$charcoal-hover: #384340;

$title-font-size: 50px;
$main-font-family: 'Cabin Sketch', cursive;
$main-color: white;