$white: #F5F5F1;
$light-green: #889E6B;
$teal-green: #79A385;
$theme: #2c4545;
$theme-hover: #2b3636;
$brown: #825E4C;
$brown-hover: #5a4032;
$charcoal: #2D3533;
$charcoal-hover: #384340;

$title-font-size: 38px;
$main-font-family: 'Cabin Sketch', cursive;
$main-color: white;